h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  max-width: 800px;
  min-width: 400px;
  margin: auto;
}

th {
  border: 1px solid cadetblue;
  padding: 0.5em;
  text-align: center;
  background-color: lightgrey;
}

td {
  border: 1px solid cadetblue;
  padding: 0.5em;
  text-align: center;
}

a {
  box-shadow: inset 0 0 0 0 #221fde;
  color: #221fde;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

a:hover {
  box-shadow: inset 150px 0 0 0 #221fde;
  color: white;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 1em;
}

.create {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.narrow-form {
  border: 1px solid grey;
  max-width: 400px;
  text-align: center;
  min-width: 300px;
  padding: 10px;
}

.form-div {
  display: flex;
  justify-content: center;
}

.helptext {
  display: block;
  font-size: 80%;
}

.paragraph {
  display: flex;
  justify-content: center;
}

.description {
  display: flex;
  width: 60%;
  padding: 10px;
  margin: auto;
  border-top: 4px dotted cadetblue;
  border-bottom: 4px dotted cadetblue;
}

.alternate {
  background-color: rgb(211, 236, 236);
}
